<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="UTF-8">
    <title>Found Deck</title>
    <link rel='stylesheet' href='/css/application.css'>
    <link rel='stylesheet' href='/css/normalize.css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <img data-src="./images/Found Deck.png" width="100%"/>
    <img data-src="./images/Found Deck2.png" width="100%"/>
    <img data-src="./images/Found Deck3.png" width="100%"/>
    <img data-src="./images/Found Deck4.png" width="100%"/>
    <img data-src="./images/Found Deck5.png" width="100%"/>
    <img data-src="./images/Found Deck6.png" width="100%"/>
    <img data-src="./images/Found Deck7.png" width="100%"/>
    <img data-src="./images/Found Deck8.png" width="100%"/>
    <img data-src="./images/Found Deck9.png" width="100%"/>
    <img data-src="./images/Found Deck10.png" width="100%"/>
    <img data-src="./images/Found Deck11.png" width="100%"/>
    <img data-src="./images/Found Deck12.png" width="100%"/>
    <img data-src="./images/Found Deck13.png" width="100%"/>
    <img data-src="./images/Found Deck14.png" width="100%"/>
    <img data-src="./images/Found Deck15.png" width="100%"/>
    <script type="text/javascript" src="./js/interface.js"></script>
  </body>
</html>